/* ***************************** */
/* HEADER */
/* ***************************** */

.header {
  background-color: #efefef;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-container {
  margin: 0 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.6rem;
}

.logo-container {
  padding: 1.7rem 2rem;
}

.title {
  text-decoration: none;
  color: #8892a0;
  font-size: 1.6rem;
  font-weight: 300;
  color: #444;
}

/* ***************************** */
/* NAVIGATION */
/* ***************************** */

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.btn-login:link,
.btn-login:visited {
  display: inline-block;
  color: #6d6d6d;
  font-size: 1.6rem;
  transition: all 0.3s;
  background-color: transparent;
}

.btn-login:hover,
.btn-login:active {
  text-decoration: underline;
}

.btn-signup {
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */

.hero {
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hero-text-box {
  flex-basis: 35%;
}

.paragraph-mr-b {
  margin-bottom: 7.5rem;
}

/* ***************************** */
/* FEATURES SECTION */
/* ***************************** */

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-img-box {
  flex-basis: 50%;
}

.img {
  width: 100%;
}

.feature strong {
  display: inline-block;
  color: #444;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2.2rem 0 1.2rem 0;
}

/* ***************************** */
/* CLIENTS SECTION */
/* ***************************** */

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
}

.logos img {
  height: 6.8rem;
}

/* ***************************** */
/* CLIENTS SECTION */
/* ***************************** */

.testimonials {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  position: relative;
}

.testimonials img {
  height: 45rem;
}

.card-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.card {
  display: flex;
  background-color: #fff;
  flex-basis: 45%;
  padding: 5rem 20rem 8rem 3.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 14px 0 rgb(129 129 129 / 20%);
}

/* ***************************** */
/* COLAB SECTION */
/* ***************************** */

.colab {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-bottom: 7rem;
}

.colab p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3rem;
}

/* ***************************** */
/* FOOTER SECTION */
/* ***************************** */

.footer {
  background-color: #343a40;
  padding: 9rem;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  gap: 20rem;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li a {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 2.5;
}

.footer strong {
  display: inline-block;
  color: #f2f2f2;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2.2rem 0 1.2rem 0;
}

.footer-about {
  width: 20%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  line-height: 2.5;
}
